marquee .gambar-jalan-1 {
    border: 1px solid grey;
    border-radius: 20px;
}

marquee .gambar-jalan-2 {
    border: 1px solid grey;
    border-radius: 20px;
}

marquee .gambar-jalan-3{
    border: 1px solid grey;
    border-radius: 20px;
}
