@media screen {
    .content aside {
        width: 5
    }

    .card shadow {
        width: 5px;
        height: 5px;
    }
}

marquee .tulisan-jalan{
    width: 100%;
    height: 100%;
}

marquee .gambar-jalan-1 {
    border: 1px solid black;
    border-radius: 20px;
}

marquee .gambar-jalan-2 {
    border: 1px solid black;
    border-radius: 20px;
}

marquee .gambar-jalan-3{
    border: 1px solid black;
    border-radius: 20px;
}
